<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-ng-repeat-production</title>
  <link href="animations.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//code.angularjs.org/snapshot/angular.js"></script>
  <script src="//code.angularjs.org/snapshot/angular-animate.js"></script>
  <script src="/angularjs/angular.js"></script>

</head>

<body ng-app="ngRepeat">
<div class="col-md-8 col-sm-offset-2 text-center">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          
          <li><a href="/">Login</a></li>
          <li class="active"><a href="/grader">Grader <span class="sr-only">(current)</span></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div ng-controller="repeatController">
  <h4>Grade Page</h4>

  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="user in users | filter:q as results">
      <div class="panel-group" >
        <div class="panel panel-info">
          <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <h3>{{user.sjsuid}} <small>SJSU ID</small></h3>
            </div>
            <div class="col-md-3" >
              <div ng-if="user.img==undefined">
               <span class="label label-danger" style="font-size: 14px;">UNSUBMIT</span><h4><small>STATUS</small></h4>
              </div>      
              <div ng-if="user.img!=undefined">
               <span class="label label-info" style="font-size: 14px;">SUBMITTED</span><h4><small>STATUS</small></h4>
              </div>
            </div>
             <div class="col-md-1">
                <div ng-if="user.status!='Graded'">
                  <h3> <span class="label label-default">Grade:</span></h3>
                </div> 
                <div ng-if="user.status=='Graded'">
                  <h3> <span class="label label-success">Grade:</span></h3>
                </div> 
              </div>
              <div class="col-md-1">
                <h4 ng-click="show$index=!show$index" ng-show="!show$index">
                  <div ng-if="user.grade==undefined">
                  0
                  </div>      
                  <div ng-if="user.grade!=undefined">
                   {{user.grade}}
                  </div>
                  /10
                </h4>
                <form ng-submit="submit($index,newgrade$index)" ng-show="show$index" >
                  <input type="number"  ng-model="newgrade$index" min="-1" max="10"/>
                  <input type="submit" id="submit" value="Submit" ng-click="show$index=!show$index"/>
                </form>
               </div>  

          </div> 
          </div>
          <div class="panel-body">    
            <div style="float:left;width:100px;">   
              <h3> <span class="label label-primary">Comment:</span></h3>

              <h4 ng-click="showcom$index=!showcom$index" ng-show="!showcom$index">
                <div ng-if="user.comment==undefined">
                No Comment
                </div>      
                <div ng-if="user.comment!=undefined">
                 {{user.comment}}
                </div>
               
              </h4>
              <form ng-submit="submitcom($index,newcom$index)" ng-show="showcom$index" >
                <input type="text"  ng-model="newcom$index" />
                <input type="submit" id="submitcom" value="Submit" ng-click="showcom$index=!showcom$index"/>
              </form>
            
            </div> 
            <br><br>
            <br><br>
            <br><br>
            <br><br>

            <div>

              <div ng-if="user.img==undefined">   
              </div>
              <div ng-if="user.img!=undefined">
               <img  id='img' src="{{user.img}}"  >
              </div>
            </div>

          </div>
        </div>
      </div>
      <hr/>
    </li>
    <li class="animate-repeat" ng-if="results.length === 0">
    <strong>No results found...</strong>
    </li>
  </ul>
</div>
</div>
</body>

</html>

<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->