<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/fileinput.js"></script>
    <style>
    a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        float: right;
        text-decoration: none;
        color: initial;
        background-color: #4CAF50; /* Green */
        padding: 15px 32px;
        border-radius: 10px;
    }
    </style>
  </head>
  <body>
    <div class="col-md-8 col-sm-offset-2 text-center">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">upload <span class="sr-only">(current)</span></a></li>
          
      </ul>
       <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
    <h1 style="text-align:left;">SJSU ID: <%= title %></h1>
    
      
      <div>
      <label style="text-align:left;" class="control-label">Select File</label>
      <input id="input-44" name="input44[]" type="file" single class="file-loading">
      <div id="errorBlock" class="help-block" style="text-align:left;"></div>
      <div id="kv-success-2" class="alert alert-success fade in" style="margin-top:10px;display:none;text-align:left;">
       
      </div>
      <div id="img-block" ></div> 
      </div>
      <script>
         $(document).on('ready', function() {
              $("#input-44").fileinput({
                uploadUrl: '<%= '/'+title+'/upload' %>',
                allowedFileExtensions: ["zip"],
                uploadAsync: false,
                maxFilePreviewSize: 10240,
                elErrorContainer: "#errorBlock"
            }).on('filebatchpreupload', function(event, data, id, index) {
                $('#kv-success-2').html('<h4>Upload Status</h4><ul></ul>').hide();
            }).on('filebatchuploadsuccess', function(event, data) {
                var out = '';
                $.each(data.files, function(key, file) {
                    var fname = file.name;
                    out = out + '<li>' + 'Uploaded file # ' + (key + 1) + ' - '  +  fname + ' successfully.' + '</li>';
                    out = out 
                      +'<form action="<%= "/"+title+"/grade" %>" method="POST">'
                        +'Grade:<br>'
                        +'<input type="number" name="grade" placeholder="out of 10">'
                        +'<br>'
                        +'Comments:<br>'
                        +'<input type="text" name="comment">'
                        +'<br>'
                        +'<input type="submit" value="Submit">'
                      +'</form>';   
                    out = out + '<img src='+JSON.stringify(data.response.url)+' alt="result" style="">';      
 
                });
                $('#kv-success-2 ul').append(out);
                $('#kv-success-2').fadeIn('slow');
            });
        });

 
      </script>
    </div>
  </body>
</html>